# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
*.env

# Django secret key
*.secret


# Migrations (optional)
*/migrations/*.py
*/migrations/*.pyc

# Logs & Debug
*.log
logs/
debug.log

# Local settings
local_settings.py

# VS Code / JetBrains / PyCharm
.vscode/
.idea/
*.iml

# MacOS / Windows
.DS_Store
Thumbs.db

# Docker / Deployment
*.pid
celerybeat-schedule
