{% extends "index.html" %}

{% block content %}

<style>
    .book-image {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4rem;
        color: white;
        background-color: rgba(0,0,0, .5);
        height: 10rem;
        font-weight: 700;
    }

    .size {
        font-size: 2rem;
    }

</style>

<h2 class="mb-5">Book Details</h2>


<div class="card">
    <div class="book-image">
        {{book.title}}
    </div>
    <div class="card-body">
    <h4 class=" my-4">Summary</h4>
    <p class="card-text">{{summary}}</p>
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="fw-bold">${{book.price}}</h2>
        <h3 class="fw-bold">In stock: {{book.stock}}</h3>

    </div>
    </div>
</div>

    {% if book.stock == 0 %}
    
        <h5 class="mt-5">Out of stock</h5>

        <a href="{% url "books" %}" class="btn btn-primary btn-lg mt-2">Back</a>

    
    {% else %}
        
        <form method="post" action="{% url "order" book.id %}" class="d-flex gx-5 align-items-centerm mt-5">
            {% csrf_token %}
            <div class="d-flex align-items-center">
                <h5>Qty: </h5>
                <select class="form-select ms-2" aria-label="Default select example" name="qty">
                    {% for i in stock %}
                    <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                  </select>
            </div>
        
            <button type="submit" class="btn btn-primary btn-lg ms-3">Order</button>
        
        
        </form>
    {% endif %}



{% endblock content %}
